.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

.stack {
  display: flex;
  gap: 1rem;
}
.f-width {
  width: 100%;
}
.column {
  flex-direction: column;
}
.mt-a {
  margin-top: auto;
}
